body {
	font-family: 'Sanchez', serif;
	background: url("https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1274&q=80");
	background-color: #C9C2CD;
	height: 500px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

nav {
	text-transform: uppercase;
}

.navbar-brand {
	padding-left: 20px;
}

div .container-fluid{
	padding: 0px;
}

div #about_me {
	margin-top: 50px;
}

div #profile {
	padding-top: 10px;
}

div #about_me img{
	margin: 24px;
	width: 400px;
	border: 20px solid floralwhite;

}

div .description {
	text-align: center;
	padding: 20px;
}

div .description p{
	padding-top: 80px;
	text-align: left;
	font-size: 20px;
}

div #education, 
div #career {
	padding-top: 100px;
	padding-bottom: 200px;
}

div #education>h3{
	padding-top: 100px;
}

div #education .col, 
div #career .col {
	padding: 10px;
	margin: 10px 40px;
}

div #education .col p,
div #career .col p {
	margin-bottom: 0px;
}

div #career>h3{
	padding-top: 2%;
}

div #portfolio {
	padding-top: 200px;

}

div #technical_skills, 
div #contact_me {
	padding-top: 200px;
}

div #technical_skills #label {
	text-align: center;
}


div #portfolio_details .col {
	background-color: lavender;
	padding: 10px;
	margin: 10px 100px;
}

div .col a {
	padding: 50px;
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	text-decoration: none;
	color: black;
	margin: 8px;	
}

div .col a #capstone_description {
	font-size: 15px;
	text-transform: none;
	font-family: font-family: 'Nunito', sans-serif;

}

div .col a p {
	margin: 4px;
}

#contact>h3 {
	padding-top: 2%;

}

div #contact_me {
	padding-bottom: 50px;
	margin: 30px;
}

footer {
	text-align: center;
	margin-bottom: 10px;
	color: #4C1272;
}

footer img {
	width: 30px;
	padding-bottom: 10px;
}

