body {
	font-family: 'Roboto', sans-serif;
	font-size: larger;
	background: url("https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1274&q=80");
	background-color: #C9C2CD;
	height: 850px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/*===========nav=========*/ 
nav {
	text-transform: uppercase;
}

.navbar-brand {
	margin-left: 20px;
}

/*===========main content=========*/ 
div .container-fluid{
	padding: 0px;
}

div #about_me {
	margin-top: 50px;
}

div #about_me img{
	/*margin: 24px;*/
	/*width: 400px;*/
	max-width: 400px;
	width: 100%;
	height: auto;
	border: 20px solid floralwhite;
}

/*div .description {
	text-align: center;
	padding: 20px;
}

div .description p{
	padding-top: 80px;
	text-align: left;
	font-size: 20px;
}
*/
/*======education=============*/
div #education, 
div #career {
	padding-top: 100px;
	padding-bottom: 200px;
}

div #education>h3{
	padding-top: 100px;
}

div #education .col, 
div #career .col {
	padding: 10px;
	margin: 10px 40px;
}

div #education .col p,
div #career .col p {
	margin-bottom: 0px;
}

/*======career=============*/
div #career>h3{
	padding-top: 2%;
}

/*======technical skill=============*/
div #technical_skills, 
div #contact_me {
	padding-top: 200px;
}

div #technical_skills #label {
	text-align: center;
}


div #portfolio {
	padding-top: 200px;
}

/*======portfolio============*/
div #portfolio_details {
	padding: 10px;
}

div #portfolio_details .col p {

	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	text-decoration: none;
	color: black;		
}

div #portfolio_details img {
	
	border: solid;
	color: #F2F2EA;

	max-width: 500px;
	width: 100%;
	height: auto;
}

div .col a {

	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	text-decoration: none;
	color: black;
}

div .col a #capstone_description {
	font-size: 15px;
	text-transform: none;
	font-family: font-family: 'Nunito', sans-serif;
}

div .col a p {
/*	margin: 4px;*/
}

/*==========contact==========*/
#contact>h3 {
	padding-top: 2%;
}

div #contact_me {
	padding-bottom: 50px;
	margin: 30px;
}

/*==========footer==========*/
.footer {
	text-align: center;
	margin-bottom: 10px;
	color: #4C1272;
	background-color: lightyellow;
}

.footer img {
	width: 50px;
	/*padding-bottom: 10px;*/
}

.footer p {
	font-size: smaller;
	font-family: monospace;
	margin-bottom: 5px;
}

